body {
    background-image:url("../assets/fond.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 20px;
    margin: 8px ;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 89.5%;
}

li {
    float: left;
    width: 33.33%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

/*Change la couleur de fond du bouton quand passe la souris dessus*/
li a:hover {
    background-color: #111;
}

#logo {
    width: 10%;
    height: 10%;
  }

html{
    height: 100vh;
}

#map {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    margin: 8px 40px;
    background-color: #333;
  }